<%- include('partials/templ_head') %>

<body>
  <%- include('partials/nav') %>
  <main class="container">
    <section class="d-flex flex-column justify-content-center align-items-center mt-2">
      <h1 class="display-1 w-700 main_title"><%= title %> </h1>
      <img class="page_image" src="<%= image %> " alt="title">
      <article>
        <p class="description_text"><%= description %> </p>
      </article>
    </section>
  </main>
</body>