<%- include('partials/templ_head') %>

<body>
  <%- include('partials/nav') %>
  <main class="container">
    <section class="container d-flex flex-column justify-content-center align-items-center mt-2">
      <h1 class="display-1 text-center w-700 main_title"><%= title %> </h1>
      <img class="page_image m-2" src="<%= image %> " alt="<%= title%>">
      <article>
        <p class="description_text m-auto"><%= description %> </p>
      </article>
    </section>
  </main>
</body>